<%= render 'shared/navbar' %>

<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path('bar-banner.jpg') %>')">>
  <div class="container">
  <h1>Mixin' It Up</h1>
    <p>Sit back, relax, have a drink</p>
    <%= link_to new_cocktail_path, class: "btn btn-add-cocktail" do  %>
      Add a cocktail
    <% end %>
  </div>
</div>

<!-- cards -->
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail d-flex flex-column align-items-center">
      <%= cl_image_tag cocktail.photo.key, height: 460, width: 500, crop: :fill %>
      <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"  %></h2>
    </div>
  <% end %>
</div>
