<%= render 'shared/navbar' %>

<!-- Start of title -->

<div class="title-cocktail-new">
  <div class="container p-3">
    <h1>Create Your New Cocktail</h1>
  </div>
</div>

<!-- End of title -->

<!-- Start of cocktail form -->

<div class="cocktail-new">
  <div class="container">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create New Cocktail"%>
    <% end %>
  </div>
</div>

<!-- End of cocktail form -->
